<!DOCTYPE html>
{% extends "header.html" %}
{% block content %}

<!-- Simple about page explaining who we are and what we have created --> 

<h1> <center> This is Fitflex<center></h1>
<p>This website is to revolutionalize going to the gym!</p>


<p>Project Members: Holly Culver, Hunter Davis, Paulina Scarlata, Isak Syverud, and Bo Cameron. </h2>

<style>
   
   
   h1 {
      font-family: "Helvetica Neue";
      font size: 30px;
      background-color: #F5F5F5;
      font color: white;
        
   }
   
   body{
      font-family: "Helvetica Neue";
      font size: 20px;
      background-color: #F5F5F5;
      padding: 30px;
      height:auto;
   }
   


{% endblock %}
