<!DOCTYPE html>
{% extends "header.html" %}
{% block content %}

<!-- simple home page after the user logs in --> 

<style>
  h1{
    font-family: "Helvetica Neue";
    background-color: #F5F5F5;
    padding: 13px;
  }
  
body { 
  font-family: "Helvetica Neue";
  background-color: #F5F5F5;
  padding: 15px;
 
}

p{

}

  
  
</style>
<div class="jumbotron jumbotron-codelines">
  <div class= "col-md-7 text-center">
    <h1 align="center">Welcome to Fitflex- made for all of your fitness needs!</h1>
    <p class="alt-lead mb-4">
      <b>Your Fitflex account</b> will allow you to optimize your workout by specifying a gym and reserving machines to fit your schedule.</p>
    </div>
  </div>


<h3>Dropdown Menu inside a Navigation Bar allows you to access various features</h3>
<p>Now, let's get fit!</p>

{% endblock %}
