{% extends "header.html" %}
{% block content %}

<head>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	
	{% if alert %}
	<div class="alert alert-info">
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ alert }}
	</div>
	{% endif %}
	
	<div class="container">
	 <div class="panel panel-default">
	 <div class="panel-heading">
	 <h3 class="panel-title">Machine Booking(s)</h3>
	 </div>
	 <ul class="list-group">
	 {% for a in machines %}
	 <li class="list-group-item">
	 <div class="row toggle" id="dropdown-detail-{{ a['id'] }}" data-toggle="detail-{{ a['id'] }}">
	 <div class="col-xs-10">
	 Machine Booking
	 </div>
	 <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
	 </div>
	 <div id="detail-{{ a['id']}}">
	 <hr></hr>
	 <div class="container">
	 <div class="fluid-row">
	 <p><b>
	 Machine</b>: {{ a['machineType'] }}
	 </p>
		<p><b>
	 Time Start</b>: {{ a['timeStart'] }}
	 </p>
		<p><b>
	 Time End</b>: {{ a['timeEnd'] }}
	 </p>
		<p><b>
	 Date</b>: {{ a['date'] }}
	 </p>
	 <p><b>
	 Slot</b>: {{ a['slot'] }}
	 </p>
	 <p><b>
	 Details</b>: {{ a['info'] }}
	 </p>
		<input name="machineBooking" type="submit" value="Delete Entry">
	 </div>
	 {% endfor %}
	
	 </div>
	 </div>
	 </div>
	 </li>
	 </ul>
	 </div>
	 </div>
	
	
	{% if palert %}
	<div class="palert palert-info">
	 <a href="#" class="close" data-dismiss="palert" aria-label="close">&times;</a>{{ palert }}
	</div>
	{% endif %}
	
	<div class="container">
	 <div class="panel panel-default">
	 <div class="panel-heading">
	 <h3 class="panel-title">Workout Plan(s)</h3>
	 </div>
	 <ul class="list-group">
	 {% for a in onePlan %}
	 <li class="list-group-item">
	 <div class="row toggle" id="dropdown-detail-{{ a['id'] }}" data-toggle="detail-{{ a['id'] }}" value="Responses">
		<div class="col-xs-10">
	 Workout Plan
	 </div>
	 <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
	 </div>
	 <div id="detail-{{ a['id']}}">
	 <hr></hr>
	 <div class="container">
	 <div class="fluid-row">
		<p><b>
	 Month</b>: {{ a['month'] }}
	 </p>
	 <p><b>
	 Day</b>: {{ a['day'] }}
	 </p>
		<p><b>
	 Year</b>: {{ a['year'] }}
	 </p>
		<p><b>
	 Areas</b>: {{ a['areas'] }}
	 </p>
		<p><b>
	 Machines</b>: {{ a['machines'] }}
	 </p>
		<p><b>
	 Type(s)</b>: {{ a['types'] }}
	 </p>
	 <p><b>
	 Slot</b>: {{ a['slot'] }}
	 </p>
	 <p><b>
	 Details</b>: {{ a['info'] }}
	 </p>
	 </div>
	 {% endfor %}
	
	 </div>
	 </div>
	 </div>
	 </li>
	 </ul>
	 </div>
	</div>
	
	
	
	
	<script>
	$(document).ready(function() {
	 $('[id^=detail-]').hide();
	 $('.toggle').click(function() {
	 $input = $( this );
	 $target = $('#'+$input.attr('data-toggle'));
	 $target.slideToggle();
	 });
	});
	</script>

{% endblock %}
